################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/obj/Debug/libgp4.pdb
/obj/Debug/libgp4.dll
/Languages - PS4 Developer wiki_files
/Languages - PS4 Developer wiki.htm
/language indexes.txt
/Program - Copy.cs
/obj/Debug/libgp4.csproj.CoreCompileInputs.cache
