################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/obj/Debug/libgp4.pdb
/obj/Debug/libgp4.dll
